html {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #666;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #666;
  margin: 0;
}

.alldiv {
  width: 60%;
  margin: auto;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

header {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

header .headline{
  font-size: 32px;
}

.heading-028 {
  color: #FFF;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: .04em;
  text-align: center;
  background: #333;
  padding-top:40px;
  padding-bottom:40px;
  margin-top: 0;
  margin-bottom: 0;
}

.heading-028::before {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
  letter-spacing: .02em;
  content: attr(data-label);
  background: #333;
  padding-top:40px;
  padding-bottom:40px;
  margin-top: 0;
  margin-bottom: 0;
}

.heading-028-2 {
  color: #FFF;
  font-weight: 400;
  font-size: 1.0rem;
  letter-spacing: .04em;
  text-align: left;
  background: #333;
  padding-top:40px;
  padding-bottom:40px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30%;
}

.heading-028-2::before {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
  letter-spacing: .02em;
  content: attr(data-label);
  background: #333;
  padding-top:40px;
  padding-bottom:40px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30%;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

hr {
  border-top: 1px solid #c2edff;
}

.BlackLine {
  border-top: 5px double #333;
  size: 10;
}

iframe {
  border: 0px solid #EEEEEE;
  border-radius: 0px;
  height: 350px;
  width: 96%;
}

h1 {
/*  background: #c2edff; */
  background: #333;
  color: #FFF;
  padding: 0.5em;
}

h2 {
/*  background: #c2edff; */
  background: #333;
  color: #FFF;
  padding: 0.5em;
}

.h2-orange {
  background: #FFCB72;
  padding: 0.5em;
}

h3 {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
/*  border-left: solid 5px #7db4e6; */
  border-left: solid 5px #666;
}

.formClass {
  height: 900px;
}

.iframeClass {
  text-align: center;
}

.img {
  text-align: center;
}

img {
  max-width: 94%;
}

pre {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 94%;
  white-space: pre-wrap;
  font-size: 100%;
  line-height: 1.7;
}

code {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #494949;
/*  font-size: 150%; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.codeClass {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #494949;
  border: 2px solid #DDDDDD;
  border-radius: 0px;
  background-color: #EEEEEE;
}

ul li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0;
  margin-left: 0;
}

.aButton {
  display: block;
  width: 96%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  background: #FFFFFF;
  color: #0067C0;
  text-decoration: none;
  text-align: left;
  border: 1px solid #AAA;
  border-radius: 0px;
}

.bButton {
  display: block;
  width: 90%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  background: #FFFFFF;
  color: #333;
  text-decoration: none;
  text-align: center;
  /* border: 1px solid #AAA; */
  border-radius: 0px;
  font-size: 1.0em;
  font-weight: bold;
}

.aButton:hover {
  color: #6495ED;
  background: #F3F3F3;
}

.bButton:hover {
  font-weight: bold;
  color: #6495ED;
}

body p{
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #494949;
  letter-spacing: 0.05em;
  line-height: 1.7;
}

@media screen and (max-width: 999px) {
  html {
    font-size: 80%;
  }

  .alldiv {
    width: 100%;
  }

  p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  iframe {
    height: 350px;
  }

  .formClass {
    height: 1200px;
  }

  ul li {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .aButton {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 0;
  }

  .bButton {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .heading-028 {
    font-size: 1.0rem;
    padding-top:20px;
    padding-bottom:20px;
  }
  .heading-028::before {
    font-size: 1.8rem;
    padding-top:20px;
    padding-bottom:20px;
  }
  .heading-028-2 {
    font-size: 0.8rem;
    text-align: left;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 5%;
  }
  .heading-028-2::before {
    font-size: 1.0rem;
    text-align: left;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 5%;
  }

  h3 {
    margin-left: 5px;
  }
}

@media screen and (max-width: 599px) {
  html {
    font-size: 80%;
  }
  
  .alldiv {
    width: 100%;
  }

  p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  iframe {
    height: 350px;
  }

  .formClass {
    height: 1200px;
  }

  ul li {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .aButton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    margin-bottom: 0;
  }

  .bButton {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .heading-028 {
    font-size: 1.0rem;
    padding-top:20px;
    padding-bottom:20px;
  }
  .heading-028::before {
    font-size: 1.8rem;
    padding-top:20px;
    padding-bottom:20px;
  }
  .heading-028-2 {
    font-size: 0.8rem;
    text-align: left;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 5%;
  }
  .heading-028-2::before {
    font-size: 1.0rem;
    text-align: left;
    padding-top:20px;
    padding-bottom:20px;
    padding-left: 5%;
  }

  h3 {
    margin-left: 5px;
  }
}
