html {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

header {
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

header .headline{
  font-size: 32px;
}

.heading-028 {
  color: #FFF;
  font-weight: 400;
  font-size: 1.0rem;
  letter-spacing: .04em;
  text-align: center;
  background: #333;
  padding-top:20px;
  padding-bottom:20px;
}

.heading-028::before {
  display: block;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: .02em;
  content: attr(data-label);
  background: #333;
  padding-top:20px;
  padding-bottom:20px;
}

.nav-list {
  text-align: center;
  padding: 5px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
}

hr {
  border-top: 1px solid #c2edff;
}

iframe {
  border: 0px solid #EEEEEE;
  border-radius: 0px;
  height: 350px;
  width: 96%;
}

h1 {
/*  background: #c2edff; */
  background: #333;
  color: #FFF;
  padding: 0.5em;
}

h2 {
/*  background: #c2edff; */
  background: #333;
  color: #FFF;
  padding: 0.5em;
}

.h2-orange {
  background: #FFCB72;
  padding: 0.5em;
}

h3 {
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
/*  border-left: solid 5px #7db4e6; */
  border-left: solid 5px #666;
}

.formClass {
  height: 900px;
}

.iframeClass {
  text-align: center;
}

.img {
  text-align: center;
}

img {
  max-width: 94%;
}

pre {
  margin-left: 10px;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 94%;
  white-space: pre-wrap;
  font-size: 100%;
  line-height: 1.7;
}

.codeClass {
  border: 2px solid #DDDDDD;
  border-radius: 0px;
  background-color: #EEEEEE;
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.aButton {
  display: block;
  width: 96%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
  text-align: left;
  border: 1px solid #DDDDDD;
  border-radius: 0px;
}

.bButton {
  display: block;
  width: 96%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
  text-align: center;
  border: 1px solid #DDDDDD;
  border-radius: 0px;
}

.aButton:hover {
  background: #EEEEEE;
}

.bButton:hover {
  background: #EEEEEE;
}

body p{
  letter-spacing: 0.05em;
  line-height: 1.7;
}

@media screen and (max-width: 999px) {
  html {
    width: 94%;
    font-size: 80%;
  }

  p {
    width: 100%;
  }

  iframe {
    height: 350px;
  }

  .formClass {
    height: 1200px;
  }

  ul li {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .aButton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .bButton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
}

@media screen and (max-width: 599px) {
  html {
    width: 94%;
    font-size: 80%;
  }

  p {
    width: 100%;
  }

  iframe {
    height: 350px;
  }

  .formClass {
    height: 1200px;
  }

  ul li {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .aButton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .bButton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
  }
}
