html {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #666;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #666;
  margin: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.alldiv {
  width: 60%;
  margin: auto;
}

p {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.heading-028 {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  letter-spacing: .04em;
  text-align: center;
  color: #FFF;
  background: #333;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  margin-top: 0;
  margin-bottom: 0;
}
.heading-028::before {
  display: block;
  font-weight: bold;
  font-size: 2.6rem;
  line-height: 1.5;
  letter-spacing: .02em;
  content: attr(data-label);
  background: #333;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  margin-top: 0;
  margin-bottom: 0;
}
.heading-028-2 {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-weight: normal;
  font-size: 1.0rem;
  letter-spacing: .04em;
  text-align: left;
  color: #FFF;
  background: #333;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30%;
}
.heading-028-2::before {
  display: block;
  font-weight: bold;
  font-size: 2.0rem;
  line-height: 1.5;
  letter-spacing: .02em;
  content: attr(data-label);
  background: #333;
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30%;
}

.nav-list {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  text-align: center;
  padding: 1.0rem 0;
  margin: 0 auto;
}
.nav-list-item {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  list-style: none;
  display: inline-block;
  margin: 0 1.5rem;
}

.BlackLine {
  border-top: 0.5rem double #333;
}

iframe {
  border: 0px solid #EEEEEE;
  border-radius: 0px;
  height: 350px;
  width: 96%;
}

h1 {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  background: #333;
  color: #FFF;
  padding: 0.5em;
}

h2 {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  background: #333;
  color: #FFF;
  padding: 0.5em;
}

h3 {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  padding: 0.25em 0.5em;
  color: #666;
  background: transparent;
  border-left: solid 0.5rem #666;
}

.formClass {
  height: 900px;
}

.iframeClass {
  text-align: center;
}

.img {
  text-align: center;
}

img {
  max-width: 94%;
}

pre {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  width: 94%;
  font-size: 1.0rem;
  line-height: 1.5;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

code {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  color: #666;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.codeClass {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  padding-left: 0.5rem;
  color: #666;
  border: 1px solid #AAA;
  border-radius: 0px;
  background-color: #EEEEEE;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

ul li {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0;
  padding-right: auto;
  margin-left: 0;
  margin-right: auto;
}

.aButton {
  display: block;
  width: 96%;
  font-size; 1.0rem;
  font-weight: normal;
  vertical-align: middle;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: #0067C0;
  background: #FFFFFF;
  text-decoration: none;
  text-align: left;
  border: 1px solid #AAA;
  border-radius: 0px;
}
.aButton:hover {
  color: #6495ED;
  background: #F3F3F3;
}

.bButton {
  display: block;
  width: 96%;
  font-size: 1.0rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  color: #333;
  background: #FFFFFF;
  text-decoration: none;
  border-radius: 0px;
}
.bButton:hover {
  font-weight: bold;
  color: #6495ED;
}

body p{
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  width: 96%;
  color: #666;
  letter-spacing: 0.05em;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

.slide {
  position: relative;
  overflow: hidden;
  width: 480px;
  height: 270px;
  padding: 0.5rem 1.0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 1px solid #AAA;
}
.slide img {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  height: inherit;
  left: 100%;
  animation: slide-anime 9s linear infinite;
}
.slide-img {
  width: inherit;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
}
.slide img:nth-of-type(1) {animation-delay: 0s;}
.slide img:nth-of-type(2) {animation-delay: 3s;}
.slide img:nth-of-type(3) {animation-delay: 6s;}
@keyframes slide-anime {
  0% {left: 100%;}
  4% {left: 3%;}
  29% {left: 3%;}
  33% {left: -100%;}
  100% {left: -100%;}
}

.main-ul {
  width: 100%;
}

details {
  width: 94%;
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-size: 1.0rem;
  border: 1px solid #aaa;
  border-radius: 0px;
  padding: 0.5rem 0.5rem 0;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-right: auto;
  margin-left: auto;
  background-color: #F9F9F9;
}

summary {
  font-family: "Noto Sans JP", "Meiryo", "Hiragino Maru Gothic ProN W4", "Hiragino Mincho ProN", "Verdana", "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif, sans-serif;
  font-weight: normal;
  font-size: 1.0rem;
  margin: -0.5rem -0.5rem 0;
  padding: 0.5rem;
  background-color: #FFF;
}

details[open] {
  padding: 0.5rem;
  margin-top: 0.2rem;
  margin-bottom:0.2rem
  margin-right: auto;
  margin-left: auto;
  background-color: #F9F9F9;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
  margin-right: auto;
  margin-left: auto;
  background-color: #F9F9F9;
}

@media screen and (max-width: 999px) {
  html {
    font-size: 0.9rem;
  }

  .alldiv {
    width: 100%;
  }

  .main-ul {
    width: 96%;
  }
  
  p {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
  }

  iframe {
    height: 350px;
  }

  .formClass {
    height: 1200px;
  }

  .aButton {
    width: 90%;
    padding: 0.8rem;
    margin-right: auto;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .bButton {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .heading-028 {
    font-size: 1.0rem;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
  }
  .heading-028::before {
    font-size: 1.8rem;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
  }
  .heading-028-2 {
    font-size: 0.8rem;
    text-align: left;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    padding-left: 5%;
  }
  .heading-028-2::before {
    font-size: 1.5rem;
    text-align: left;
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
    padding-left: 5%;
  }

  h3 {
    margin-left: 0.5rem;
  }

  .codeClass {
    width: 94%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .slide {
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 180px;
    padding: 0.5rem 1.0rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    border: 1px solid #AAA;
  }
  .slide img {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 180px;
    left: 100%;
    animation: slide-anime 15s linear infinite;
  }
  .slide-img {
    width: 320px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
  }
  .slide img:nth-of-type(1) {animation-delay: 0s;}
  .slide img:nth-of-type(2) {animation-delay: 5s;}
  .slide img:nth-of-type(3) {animation-delay: 10s;}
  @keyframes slide-anime{
    0% {left: 100%;}
    4% {left: 3.5%;}
    29% {left: 3.5%;}
    33% {left: -100%;}
    100% {left: -100%;}
  }
}

@media screen and (max-width: 599px) {
  html {
    font-size: 0.8rem;
  }
}
