html {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #FFFFFF;
}

ul li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.aButton {
  display: block;
  width: 94%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  background: #FFFFFF;
  color: #000000;
  text-decoration: none;
  text-align: left;
  border: 1px dashed #CCCCCC;
  border-radius: 6px;
}

.aButton:hover {
  background: #DDDDDD;
}

@media screen and (max-width: 999px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 599px) {
  html {
    font-size: 80%;
  }
}