html {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
}

pre {
  white-space: pre-wrap;
}

@media screen and (max-width: 999px) {
  html {
    width: 90%;
    font-size: 200%;
  }
}
