html {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #EEEEEE;
}

ul li {
  padding-top: 8px;
  padding-bottom: 8px;
}

